<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.org.logistics.logship.mappers.mybatis.OrderDetailsTableMapper">


    <!-- Create new order -->
    <insert id="insertOrderDetails" useGeneratedKeys="true" keyProperty="orderId" keyColumn="order_id" parameterType="OrderDetails">
        INSERT INTO order_details (order_name, order_note, sender_id, fragile, admission_warehouse, destination_warehouse) VALUES (#{orderName}, #{orderNote}, #{senderId}, #{fragile}, #{admissionWarehouseId}, #{destinationWarehouseId});
    </insert>

</mapper>