<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.org.logistics.logship.mappers.mybatis.ShipmentDetailsTableMapper">


    <!-- Create new Quality Check -->
    <insert id="addOrdersToShipment">
        INSERT INTO shipment_details (shipment_id, order_id)
        VALUES
        <foreach collection="orders" separator="," item="orderId">
            (#{shipmentId}, #{orderId})
        </foreach>
    </insert>

</mapper>