<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.org.logistics.logship.mappers.mybatis.ShipmentDetailsTableMapper">

    <resultMap id="shipmentDetails" type="ShipmentDetails">
        <id property="shipmentId" column="shipment_id"/>
        <id property="orderId" column="order_id"/>
        <result property="addedDate" column="added_date "/>
        <result property="endDate" column="end_date"/>
    </resultMap>


    <!-- Create new Quality Check -->
    <insert id="addOrdersToShipment">
        INSERT INTO shipment_details (shipment_id, order_id)
        VALUES
        <foreach collection="orders" separator="," item="orderId">
            (#{shipmentId}, #{orderId})
        </foreach>
    </insert>

    <select id="getShipmentOrders" parameterType="java.lang.Integer" resultMap="shipmentDetails">
        Select * from shipment_details where shipment_id = #{shipmentUd}
    </select>
</mapper>